<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PrinceSistemas.My.MySettings.PrinceDBConnectionString"
        connectionString="Data Source=ROGERIO\PRINCE;Initial Catalog=PrinceDB;Persist Security Info=True;User ID=sa;Password=rs755;Encrypt=False"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LicenseExpiration" value="31/12/2025"/>
    <add key="DateFormat" value="dd/MM/yyyy"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2"/>
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>