<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.67" targetFramework="net481" />
  <package id="Microsoft.AspNetCore.Components.WebView" version="8.0.10" targetFramework="net481" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2849.39" targetFramework="net481" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net481" />
</packages>