<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.61" targetFramework="net481" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2592.51" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
</packages>